In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("hotel_data.csv")
df.head(5)

,hotel_id,hotel_name,booking_date,check_in_date,check_out_date,guest_name,email,phone,room_type,num_guests,total_price,payment_status,country,special_requests
0,H001,Grand Plaza Hotel,1/15/2024,2/1/2024,2/5/2024,John Smith,john.smith@email.com,+1-555-0101,Deluxe,2,850.0,Paid,USA,Extra pillows
1,H001,Grand Plaza Hotel,1/18/2024,2/10/2024,2/12/2024,Sarah Johnson,sarah.j@email.com,555-0102,Standard,1,320.0,Paid,USA,NaN
2,H002,Seaside Resort,1/20/2024,3/5/2024,3/8/2024,Mike Davis,mike.davis@email.com,+44-20-5550103,Suite,3,1200.0,pending,UK,Late check-in
3,H003,Mountain View Inn,1/22/2024,NaN,2/25/2024,Emily Brown,emily.brown@email.com,+1-555-0104,Standard,2,450.0,Paid,Canada,NaN
4,H002,Seaside Resort,1/25/2024,2/15/2024,2/15/2024,James Wilson,james.w@email.com,NaN,Deluxe,2,0.0,Cancelled,Australia,NaN

In [5]:
str_cols = df.select_dtypes(include="object").columns
df[str_cols] = df[str_cols].apply(lambda x: x.str.strip()) #Getting rid of extra white spaces that we might have across ALL COLUMNS
df.head(5)

,hotel_id,hotel_name,booking_date,check_in_date,check_out_date,guest_name,email,phone,room_type,num_guests,total_price,payment_status,country,special_requests
0,H001,Grand Plaza Hotel,1/15/2024,2/1/2024,2/5/2024,John Smith,john.smith@email.com,+1-555-0101,Deluxe,2,850.0,Paid,USA,Extra pillows
1,H001,Grand Plaza Hotel,1/18/2024,2/10/2024,2/12/2024,Sarah Johnson,sarah.j@email.com,555-0102,Standard,1,320.0,Paid,USA,NaN
2,H002,Seaside Resort,1/20/2024,3/5/2024,3/8/2024,Mike Davis,mike.davis@email.com,+44-20-5550103,Suite,3,1200.0,pending,UK,Late check-in
3,H003,Mountain View Inn,1/22/2024,NaN,2/25/2024,Emily Brown,emily.brown@email.com,+1-555-0104,Standard,2,450.0,Paid,Canada,NaN
4,H002,Seaside Resort,1/25/2024,2/15/2024,2/15/2024,James Wilson,james.w@email.com,NaN,Deluxe,2,0.0,Cancelled,Australia,NaN

In [6]:
#Maintaining consistency across the date columns 
date_cols = ["booking_date", "check_in_date", "check_out_date"]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [9]:
#Normalising the values in payment_status column
df["payment_status"] = (
    df["payment_status"]
    .str.lower()
    .map({
        "paid": "Paid",
        "pending": "Pending",
        "cancelled": "Cancelled"
    })
) 
df["payment_status"]

0          Paid
1          Paid
2       Pending
3          Paid
4     Cancelled
5          Paid
6          Paid
7       Pending
8          Paid
9          Paid
10         Paid
11    Cancelled
12         Paid
13         Paid
14      Pending
15         Paid
16         Paid
17         Paid
18         Paid
19      Pending
20         Paid
21         Paid
22         Paid
23      Pending
24         Paid
25         Paid
26         Paid
27         Paid
28      Pending
29         Paid
Name: payment_status, dtype: object

In [10]:
#Handling the missing or "zero" values in total_price column:
df.loc[df["total_price"] <= 0, "total_price"] = np.nan
df["total_price"]

0      850.0
1      320.0
2     1200.0
3      450.0
4        NaN
5     1100.0
6      420.0
7        NaN
8     1350.0
9      280.0
10    1500.0
11       NaN
12     750.0
13     950.0
14    1800.0
15       NaN
16    1050.0
17     540.0
18    1400.0
19     850.0
20     625.0
21    2000.0
22     700.0
23     420.0
24    1500.0
25    1350.0
26     600.0
27     550.0
28    2500.0
29     320.0
Name: total_price, dtype: float64

In [11]:
#Filling null values in phone column with Not Provided
df["phone"] = df["phone"].fillna("Not Provided")
df["phone"]

0         +1-555-0101
1            555-0102
2      +44-20-5550103
3         +1-555-0104
4        Not Provided
5         +1-555-0106
6         +1-555-0107
7      +34-91-5550108
8       +82-2-5550109
9         +1-555-0110
10       Not Provided
11        +1-555-0112
12      +61-2-5550113
13        +1-555-0114
14     +44-20-5550115
15        +1-555-0116
16       Not Provided
17        +1-555-0118
18     +49-30-5550119
19        +1-555-0120
20     +353-1-5550121
21       Not Provided
22        +1-555-0123
23      +61-3-5550124
24        +1-555-0125
25    +44-121-5550126
26        +1-555-0127
27       Not Provided
28        +1-555-0129
29     +52-55-5550130
Name: phone, dtype: object

In [12]:
# Standardizing email casing
df["email"] = df["email"].str.lower()
df["email"]

0         john.smith@email.com
1            sarah.j@email.com
2         mike.davis@email.com
3        emily.brown@email.com
4            james.w@email.com
5      lisa.anderson@email.com
6      robert.taylor@email.com
7       maria.garcia@email.com
8          david.lee@email.com
9     jennifer.white@email.com
10     thomas.martin@email.com
11        patricia.t@email.com
12      chris.harris@email.com
13     jessica.clark@email.com
14      daniel.lewis@email.com
15           nancy.r@email.com
16      kevin.walker@email.com
17     michelle.hall@email.com
18      steven.allen@email.com
19       laura.young@email.com
20         paul.king@email.com
21      karen.wright@email.com
22        mark.scott@email.com
23      sandra.green@email.com
24       brian.adams@email.com
25       donna.baker@email.com
26     george.nelson@email.com
27      carol.carter@email.com
28          edward.m@email.com
29       betty.perez@email.com
Name: email, dtype: object

In [13]:
#Validating number of guests (must be >= 1)
df.loc[df["num_guests"] < 1, "num_guests"] = np.nan

In [14]:
# 9. Normalizing country names (basic consistency)
df["country"] = df["country"].str.title()

In [15]:
# Droping rows where critical fields are missing
df = df.dropna(subset=["check_in_date", "check_out_date", "total_price"])

In [16]:
df = df.reset_index(drop=True)

In [18]:
# Cleaned dataset ready for analysis
df

,hotel_id,hotel_name,booking_date,check_in_date,check_out_date,guest_name,email,phone,room_type,num_guests,total_price,payment_status,country,special_requests
0,H001,Grand Plaza Hotel,2024-01-15,2024-02-01,2024-02-05,John Smith,john.smith@email.com,+1-555-0101,Deluxe,2.0,850.0,Paid,Usa,Extra pillows
1,H001,Grand Plaza Hotel,2024-01-18,2024-02-10,2024-02-12,Sarah Johnson,sarah.j@email.com,555-0102,Standard,1.0,320.0,Paid,Usa,NaN
2,H002,Seaside Resort,2024-01-20,2024-03-05,2024-03-08,Mike Davis,mike.davis@email.com,+44-20-5550103,Suite,3.0,1200.0,Pending,Uk,Late check-in
3,H001,grand plaza hotel,2024-01-28,2024-03-01,2024-03-04,Lisa Anderson,lisa.anderson@email.com,+1-555-0106,deluxe,4.0,1100.0,Paid,Usa,Crib needed
4,H004,City Center Hotel,2024-02-01,2024-02-20,2024-02-23,Robert Taylor,robert.taylor@email.com,+1-555-0107,Standard,1.0,420.0,Paid,Usa,NaN
5,H002,Seaside Resort,2024-02-05,2024-03-10,2024-03-14,David Lee,david.lee@email.com,+82-2-5550109,Deluxe,3.0,1350.0,Paid,South Korea,Airport shuttle
6,H001,Grand Plaza Hotel,2024-02-08,2024-03-15,2024-03-17,Jennifer White,jennifer.white@email.com,+1-555-0110,Standard,1.0,280.0,Paid,Usa,Early check-in
7,H005,Lakeside Lodge,2024-02-10,2024-03-20,2024-03-25,Thomas Martin,thomas.martin@email.com,Not Provided,Suite,2.0,1500.0,Paid,Canada,NaN
8,H002,Seaside Resort,2024-02-15,2024-04-01,2024-04-06,Christopher Harris,chris.harris@email.com,+61-2-5550113,Standard,2.0,750.0,Paid,Australia,Ocean view
9,H003,Mountain View Inn,2024-02-18,2024-03-25,2024-03-28,Jessica Clark,jessica.clark@email.com,+1-555-0114,Deluxe,3.0,950.0,Paid,Usa,NaN
10,H001,Grand Plaza Hotel,2024-02-20,2024-04-10,2024-04-12,Daniel Lewis,daniel.lewis@email.com,+44-20-5550115,Suite,4.0,1800.0,Pending,Uk,Anniversary package
11,H002,Seaside Resort,2024-02-25,2024-04-15,2024-04-18,Kevin Walker,kevin.walker@email.com,Not Provided,Deluxe,2.0,1050.0,Paid,New Zealand,NaN
12,H004,City Center Hotel,2024-02-28,2024-03-20,2024-03-23,Michelle Hall,michelle.hall@email.com,+1-555-0118,Standard,2.0,540.0,Paid,Usa,NaN
13,H003,Mountain View Inn,2024-03-01,2024-04-05,2024-04-09,Steven Allen,steven.allen@email.com,+49-30-5550119,Suite,2.0,1400.0,Paid,Germany,Pet friendly room
14,H001,Grand Plaza Hotel,2024-03-03,2024-04-20,2024-04-22,Laura Young,laura.young@email.com,+1-555-0120,Deluxe,3.0,850.0,Pending,Usa,NaN
15,H005,Lakeside Lodge,2024-03-05,2024-04-25,2024-04-30,Paul King,paul.king@email.com,+353-1-5550121,Standard,1.0,625.0,Paid,Ireland,NaN
16,H002,SEASIDE RESORT,2024-03-08,2024-05-01,2024-05-05,Karen Wright,karen.wright@email.com,Not Provided,Suite,4.0,2000.0,Paid,Usa,NaN
17,H004,City Center Hotel,2024-03-10,2024-04-15,2024-04-17,Mark Scott,mark.scott@email.com,+1-555-0123,Deluxe,2.0,700.0,Paid,Canada,NaN
18,H003,Mountain View Inn,2024-03-12,2024-05-10,2024-05-13,Sandra Green,sandra.green@email.com,+61-3-5550124,Standard,1.0,420.0,Pending,Australia,Ground floor
19,H001,Grand Plaza Hotel,2024-03-15,2024-05-15,2024-05-18,Brian Adams,brian.adams@email.com,+1-555-0125,Suite,2.0,1500.0,Paid,Usa,Honeymoon
20,H005,Lakeside Lodge,NaT,2024-05-20,2024-05-24,Donna Baker,donna.baker@email.com,+44-121-5550126,Deluxe,3.0,1350.0,Paid,Uk,NaN
21,H002,Seaside Resort,2024-03-20,2024-06-01,2024-06-04,George Nelson,george.nelson@email.com,+1-555-0127,Standard,2.0,600.0,Paid,Usa,NaN
22,H004,City Center Hotel,2024-03-22,2024-05-25,2024-05-28,Carol Carter,carol.carter@email.com,Not Provided,Deluxe,1.0,550.0,Paid,Usa,NaN
23,H003,Mountain View Inn,2024-03-25,2024-06-10,2024-06-15,Edward Mitchell,edward.m@email.com,+1-555-0129,Suite,4.0,2500.0,Pending,Canada,Conference room access
24,H001,Grand Plaza Hotel,2024-03-28,2024-06-15,2024-06-17,Betty Perez,betty.perez@email.com,+52-55-5550130,Standard,1.0,320.0,Paid,Mexico,Spanish speaker